
.body {
  font-family: "Helvetica" sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}


.hero {
  color: white;
  text-align: center;
  background-image: url("file:///Users/user/Desktop/Codecademy/Broadway/resources/images/the-flatiron-building.png");
}

.hero h1 {
  font-size: 70px;
}

.btn-nav {
  font-size: 18px;
  color: white;
}



.supporting {
  text-align: center;
}

.supporting h2 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 32px;
}

.supporting h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 23px;
}

.supporting-item p {
  font-family: Helvetica;
  font-size: 14px;
}

.hero h2 {
  font-size: 23px;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
